@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", serif;
    --fonte-secundaria:  "Montserrat", serif;
}

* {
    margin: 0;
    padding: 0;
}


body {
    /*height: 100vh ;*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px ;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    /*margin: 10% 15%;*/
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 82px ;

}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;

}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.destaqueTitulo {
    color: var(--cor-terciaria);
}


.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.botoes__sub {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem ;
}

.botoes__link {
   /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px ;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    padding:21.5px 0;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;

}

.botoes__link:hover {
    background-color: var(--cor-hover);
}

.apresentacap__imagem {
    width: 50% ;
}

.rodape {
    padding: 20px;
    color: var(--cor-primaria) ;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .cabecalho{
        padding: 10%;    
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: 100%;
    }

}